<style>@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

</style>nav {
  text-align: right;
  color: #797468;
}

/* Dropdown Button */
.dropbtn {
  color: #797468;
  border: none;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #797468;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  color: #F9374D;
}

body {
  max-width: 1200px;
  font-family: 'Overpass', sans-serif;
  /* background-color: #FAFAFA; */
}

h1 {
  font-size: 60px;
  margin-top: 0;
}

h2 {
  font-size: 50px;
  text-align: center;
  color: #797468;
}

h3 {
  font-size: 25px;
}

#distraction, #biostrap, #offwhite, #tmh, #pbg {
  padding-left: 10px;
}

#headerpic {
  height: 400px;
  width: 800px;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

#about {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30%;
}

#learnmore {
  color: #797468;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
  padding-right: 5px;
}

.wellness-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: auto;
  justify-content: center;
  margin: 5%;
  margin-bottom: 20%;
  margin-top: 10%;
}

#ocho-title {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: auto;
}

#ocho-text {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 5%;
  text-align: center;
}

#holyfit-title {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: auto;
}

#holyfit-text {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 5%;
  text-align: center;
}

#personal-title {
  grid-column: 3/4;
  grid-row: 1/2;
  margin: auto;
}

#personal-text {
  grid-column: 3/4;
  grid-row: 2/3;
  margin: 5%;
  text-align: center;
}

.distraction-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: auto;
  justify-content: center;
  align-content: center;
  margin: 5%;
  margin-bottom: 15%;
  /* this isn't aligning the biostrap pics vertically */
  /* how do i get images centered vertically and horizontally in the grid- i want it to line up w other pics and w the captions */
}

#distraction1 {
  grid-column: 1/2;
  grid-row: 1/2;
  max-height: 400px;
  width: auto;
}

#cap1 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
}

#distraction2 {
  grid-column: 2/3;
  grid-row: 1/2;
  max-height: 400px;
  width: auto;
}

#cap2 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
}

#distraction3 {
  grid-column: 3/4;
  grid-row: 1/2;
  max-height: 400px;
  width: auto;
}

#cap3 {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
}

.biostrap-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: auto;
  justify-content: space-evenly;
  align-content: center;
  margin: 5%;
  margin-bottom: 22%;
}

#biostrap1 {
  grid-column: 1/2;
  grid-row: 1/2;
  max-width: 450px;
  height: auto;
  margin-top: 2.5%;
}

#biocap1 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
}

#biostrap2 {
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 450px;
  height: auto;
}

#biocap2 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
}

.off-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: auto;
  justify-content: space-evenly;
  align-content: center;
  margin: 5%;
  margin-bottom: 20%;
}

#off1 {
  grid-column: 1/2;
  grid-row: 1/2;
  max-width: 450px;
  height: auto;
}

#offcap1 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  padding-bottom: 15%;
  font-family: serif;
}

#off2 {
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 450px;
  height: auto;
}

#offcap2 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  padding-bottom: 15%;
  font-family: serif;
}

#off3 {
  grid-column: 1/2;
  grid-row: 3/4;
  max-width: 450px;
  height: auto;
}

#offcap3 {
  grid-column: 1/2;
  grid-row: 4/5;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
}

#off4 {
  grid-column: 2/3;
  grid-row: 3/4;
  max-height: 300px;
  width: auto;
  padding-left: 15%;
}

#offcap4 {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 12px;
  margin-right: 10%;
  padding-left: 15%;
  font-family: serif;
}

.tmh-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: auto;
  justify-content: space-evenly;
  align-content: center;
  margin: 5%;
  margin-bottom: 15%;
}

#tmh1 {
  grid-column: 1/2;
  grid-row: 1/2;
  max-height: 400px;
  width: auto;
}

#tmhcap {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
}

#pbg-pic {
  max-height: 400px;
  width: auto;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#pbg-text {
  text-align: center;
  display: inline-block;
  font-family: serif;
  font-size: 12px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 15%;
}
