/* @import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap'); */
body {
  max-width: 1200px;
  font-size: 20px;
  font-family: sans-serif;
}

nav {
  text-align: right;
  color: #797468;
  font-size: 17px;
}

/* Dropdown Button */
.dropbtn {
  color: #797468;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 17px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #797468;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  color: #F9374D;
}

h1 {
  font-size: 50px;
  margin-top: 0;
}

h2 {
  font-size: 50px;
  text-align: center;
  color: #797468;
}

h3 {
  font-size: 25px;
}

#distraction,
#biostrap,
#offwhite,
#tmh,
#pbg {
  padding-left: 10px;
}

#headerpic {
  height: auto;
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

#about {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30%;
  margin-top: 15%;
}

.text-about {
  line-height: 1.3;
}

#learnmore {
  /* display: none; */
}

a {
  text-decoration: none;
  color: #AFAB9F;
}

#nav1, #nav2 {
  padding-right: 4px;
}

#nav1, #nav2, #nav3, #nav4, #joeholder {
  color: #797468;
}

.wellness-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: auto;
  margin: 5%;
  margin-bottom: 20%;
  margin-top: 10%;
}

#academia-title {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 5%;
  text-align: left;
}

#academia-text {
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 5%;
  text-align: left;
}

#ocho-title {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 5%;
  text-align: left;
}

#ocho-text {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 5%;
  text-align: left;
}

#personal-title {
  grid-column: 3/4;
  grid-row: 1/2;
  margin: 5%;
  text-align: left;
}

#personal-text {
  grid-column: 3/4;
  grid-row: 2/3;
  margin: 5%;
  text-align: left;
}

.distraction-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: auto;
  justify-content: center;
  align-content: center;
  margin: 5%;
  margin-bottom: 15%;
}

#distraction {
  margin-top: 10%;
}

#distraction1 {
  grid-column: 1/2;
  grid-row: 1/2;
  max-width: 84%;
  height: auto;
}

#cap1 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
  display: none;
}

#distraction2 {
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 84%;
  height: auto;
}

#cap2 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
  display: none;
}

#distraction3 {
  grid-column: 3/4;
  grid-row: 1/2;
  max-width: 84%;
  height: auto;
}

#cap3 {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
  display: none;
}

.biostrap-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: auto;
  justify-content: space-evenly;
  align-content: center;
  margin: 5%;
  margin-bottom: 22%;
}

#biostrap1 {
  grid-column: 1/2;
  grid-row: 1/2;
  max-width: 85%;
  height: auto;
  margin-top: 2.5%;
}

#biocap1 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
  display: none;
}

#biostrap2 {
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 85%;
  height: auto;
}

#biocap2 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
  display: none;
}

.off-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: auto;
  justify-content: space-evenly;
  align-content: center;
  margin: 5%;
  margin-bottom: 20%;
}

#off1 {
  grid-column: 1/2;
  grid-row: 1/2;
  max-width: 85%;
  height: auto;
}

#offcap1 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  padding-bottom: 15%;
  font-family: serif;
  color: transparent;
}

#off2 {
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 85%;
  height: auto;
}

#offcap2 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  padding-bottom: 15%;
  font-family: serif;
  display: none;
}

#off3 {
  grid-column: 1/2;
  grid-row: 3/4;
  max-width: 85%;
  height: auto;
}

#offcap3 {
  grid-column: 1/2;
  grid-row: 4/5;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
  display: none;
}

#off4 {
  grid-column: 2/3;
  grid-row: 3/4;
  max-width: 62%;
  height: auto;
  padding-left: 13%;
}

#offcap4 {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 12px;
  margin-right: 10%;
  padding-left: 13%;
  padding-right: 13%;
  font-family: serif;
  display: none;
}

/* .tmh-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: auto;
  justify-content: space-evenly;
  align-content: center;
  margin: 5%;
  margin-bottom: 15%;
}

#tmh1 {
  grid-column: 1/2;
  grid-row: 1/2;
  max-width: 80%;
  height: auto;
}

#tmhcap {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 12px;
  margin-right: 10%;
  font-family: serif;
} */
#pbg-pic {
  max-width: 40%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#pbg-text {
  text-align: center;
  display: inline-block;
  font-family: serif;
  font-size: 12px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 15%;
  display: none;
}
