@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i|Roboto&display=swap');

body {
  font-size: 21px;
  line-height: 1.65;
  color: #00004d;
  background-color: #d8d8ff;
  font-family: 'Roboto', monospace;
}

.my_name {
  font-family: 'Raleway', sans-serif;
}

h3 {
  color: #ff7272;
}
.my_name {
  font-size: 120px;
}

.education {
  border-top: 3px solid #ffa5a5;
  border-bottom: 3px solid #ffa5a5;
}

.research_experience {
  border-top: 3px solid #ffa5a5;
  border-bottom: 3px solid #ffa5a5;
}

.hobbies_interests {
  border-top: 3px solid #ffa5a5;
  border-bottom: 3px solid #ffa5a5;
}

a {
  color: #d5ff00;
  text-decoration: none;
}

a:hover {
  font-size: 30px;
}

.headshot {
  display: block;
  width: 260px;
  margin: 0 auto;
}

img {
  border: 5px solid #00004d;
  filter: contrast(120%);
}

.about_me {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 20px;
}
