body {
  font-family: sans-serif;
  font-size: 21px;
  line-height: 1.65;
  background-color: black;
  color: white;
}

h1 {
  line-height: 0;
}

h3 {
  color: pink;
}
.my_name {
  font-size: 120px;
}

a {
  color: #d5ff00;
  text-decoration: none;
}

a:hover {
  font-size: 30px;
}
