@media only screen and (max-width: 767px) {
  body {
    margin: 5%;
    text-align: left;
  }
  h1 {
    font-size: 48px;
    color: #525B56;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    padding: 0;
    padding-top: 10px;
    margin: 0;
  }
  .grid-container-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 15px;
  }


  .intro-text {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .intro-picture-grid {
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 20px;
    justify-items: center;
  }
  .intro-picture-grid img {
    width: 80%;
    /* display: bock;
    margin: 0 auto; */
    height: auto;
  }

  .g1-img-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .g1-img-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .g1-img-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .g1-img-4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .grid-container-2, .grid-container-3, .grid-container-4, .grid-container-5 {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    padding-bottom: 20px;
  }

  .difficulty_left,
  .difficulty_right {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
    margin-bottom: auto;
  }

  .hike1-img,
  .hike3-img,
  .hike2-img,
  .hike4-img {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0;
    justify-self: center;
  }

  .hike1-text,
  .hike3-text,
  .hike2-text,
  .hike4-text {
    grid-column: 1/2;
    grid-row: 3/4;
    line-height: 1.6;
  }

  .hikename_right {
    text-align: left;
  }
}
